@use "variables" as *;
@use "mixins" as mx;

@import "../../node_modules/bootstrap/scss/bootstrap";

#section-upload-file {
  margin-top: 300px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#image-preview {
  max-width: 300px;
  margin-top: 20px;
}

/* Center the image */
#image-preview img {
  display: inline-block;
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  margin: 0 auto; /* Center the image */
}

/* Center the save button */
#save-btn {
  display: block;
  margin: 20px auto;
}