@use "variables" as *;
@use "mixins" as mx;

@import "../../node_modules/bootstrap/scss/bootstrap";

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#section-list-files {
  display: none; // Hide by default
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 300px;
    margin: 10px;
  }

  .card-img-top {
    max-width: 100%;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
}